openapi: 3.2.0
info:
  description: REST APIs for IT Service Management (ITSM), automation or scripting tools
  version: '1.0'
  title: Workspot Control REST AP Is API
  termsOfService: https://www.workspot.com/legal/desktop-service-daas-subscription-agreement/
  contact:
    name: support@workspot.com
servers:
- url: https://api.workspot.com/
tags:
- name: APIs
  description: Workspot Control REST interface for administrators. See the descriptions below and Using the Workspot Control API for additional information
paths:
  /v1.0/bundles:
    get:
      tags:
      - APIs
      summary: Returns a list of all application bundles
      description: Returns a list of all application bundles along with their associated apps and groups. This is a synchronous command.
      operationId: bundlesUsingGET
      responses:
        '200':
          description: List of application bundles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesDTO'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates a new application bundle
      description: Creates a new application bundle with a name and a list of associated applications.
      operationId: createBundleUsingPOST
      responses:
        '200':
          description: Success. Bundle created Successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateBundleResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBundleRequestDTO'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Bundle information.'
        required: true
  /v1.0/bundles/{bundleId}:
    get:
      tags:
      - APIs
      summary: Returns an application bundle details
      description: Returns an application bundle along with their associated apps and groups. This is a synchronous command.
      operationId: bundleInfoUsingGET
      parameters:
      - name: bundleId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the bundle. This is obtained through the GET /v1.0/bundles command.'
        required: true
        x-example: f81eed06-c7a0-46b1-a3bf-50cc8880310b
        schema:
          type: string
      responses:
        '200':
          description: Application bundle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Updates an existing application bundle
      description: Updates an existing application bundle, specified by its bundleID, with a new properties and list of associated applications.
      operationId: updateBundleUsingPOST
      parameters:
      - name: bundleId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the Bundle. This is obtained through the GET /v1.0/bundles command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success. Bundle updated Successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateBundleResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBundleRequestDTO'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Bundle information.'
        required: true
    delete:
      tags:
      - APIs
      summary: Deletes an application bundle
      description: Deletes the specified application bundle.
      operationId: deleteBundleUsingDELETE
      parameters:
      - name: bundleId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the bundle. This is obtained through the GET /v1.0/getBundles command.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content (success)
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/cloudAppPools:
    get:
      tags:
      - APIs
      summary: Returns a list of all application server pools
      description: 'Returns a list of all application server pools, along with information about each pool, including its name, its pool id, and other information. The pool id is used by many commands to specify which pool to use. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: cloudAppPoolsUsingGET
      responses:
        '200':
          description: List of cloud app pools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAppPool'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates an application server pool
      description: 'Creates an application server pool.


        Supported Clouds: GCP'
      operationId: createCloudAppPoolUsingPOST
      responses:
        '200':
          description: Creates an application server pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateCloudAppPoolResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudAppPool'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Cloud app pool information.'
        required: true
  /v1.0/cloudAppPools/applications:
    get:
      tags:
      - APIs
      summary: Returns a list of all application server applications
      description: 'Returns a list of all applications served by any application server pool (but not other kinds of RD application or Web application). This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: applicationsUsingGET
      responses:
        '200':
          description: List of all application server applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applications'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates an application
      description: 'Creates an application server application.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: createCloudAppUsingPOST
      responses:
        '200':
          description: Application server application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateCloudAppResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudAppRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Cloud app  information.'
        required: true
  /v1.0/cloudAppPools/applications/{appId}:
    get:
      tags:
      - APIs
      summary: Returns application details
      description: 'Returns details about the specified application (application server applications only). This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: appDetailsUsingGET
      parameters:
      - name: appId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the application. This is obtained through the GET /v1.0/applications command and others.'
        required: true
        x-example: f81eed06-c7a0-46b1-a3bf-50cc8880310b
        schema:
          type: string
      responses:
        '200':
          description: Application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Updates an application
      description: 'Updates an application server application.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: updateCloudAppUsingPOST
      parameters:
      - name: appId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application. This is obtained through the GET /v1.0//cloudAppPools/applications command.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Application server application succesfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateCloudAppResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudAppRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Application server application information.'
        required: true
    delete:
      tags:
      - APIs
      summary: Deletes an application
      description: 'Deletes the specified application.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: deletecloudAppUsingDELETE
      parameters:
      - name: appId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application. This is obtained through the GET /v1.0/cloudAppPools/applications command.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content (success)
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/cloudAppPools/applications/{appId}/icon:
    post:
      tags:
      - APIs
      summary: Updates an application icon
      description: 'Updates the icon of the specified application. Attach the image as the ''icon'' form field, e.g. curl -F "icon=@C:\path\to\myicon.png".


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: uploadCloudAppIconUsingPOST
      parameters:
      - name: appId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application. Obtained through GET /v1.0/cloudAppPools/applications.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Application icon updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateCloudAppResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '413':
          description: The icon exceeds the maximum allowed size (100 KB)
      deprecated: false
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                icon:
                  type: string
                  description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The image file to upload as the app icon (max 100 KB).'
                  format: binary
              required:
              - icon
  /v1.0/cloudAppPools/{cloudAppPoolId}:
    get:
      tags:
      - APIs
      summary: Returns the details about an application server pool
      description: 'Return the details about the specified application server pool. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: cloudAppPoolInfoUsingGET
      parameters:
      - name: cloudAppPoolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application server. This is obtained through the GET /v1.0/cloudAppPools command and others.'
        required: true
        x-example: f81eed06-c7a0-46b1-a3bf-50cc8880310b
        schema:
          type: string
      responses:
        '200':
          description: Details about the pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAppPoolDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    delete:
      tags:
      - APIs
      summary: Deletes an application server pool
      description: 'Deletes the specified application server pool.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: deletecloudAppPoolUsingDELETE
      parameters:
      - name: cloudAppPoolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of application server pool. This is obtained through the GET /v1.0/cloudAppPools command.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content (success)
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/cloudAppPools/{cloudAppPoolId}/appServers:
    get:
      tags:
      - APIs
      summary: Returns a list of application servers in a pool
      description: 'Returns information about every application server in the specified applicaton server pool, including the server IDs used for commands that operate on a specified server. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: cloudAppServersUsingGET
      parameters:
      - name: cloudAppPoolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application server. This is obtained through the GET /v1.0/cloudAppPools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of app servers in cloud app pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAppServers'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/cloudAppPools/{cloudAppPoolId}/appServers/{appServerId}:
    get:
      tags:
      - APIs
      summary: Returns details for a single application server
      description: 'Returns the details for a single application server in a specified application server pool. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: appServerDeatilsUsingGET
      parameters:
      - name: appServerId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the cloud app server. This is obtained through the GET /v1.0/cloudAppPools/{cloudAppPoolId}/appServers command and others.'
        required: true
        schema:
          type: string
      - name: cloudAppPoolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the cloud app pool. This is obtained through the GET /v1.0/cloudAppPools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Details of the specified application server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAppServerDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    delete:
      tags:
      - APIs
      summary: Deletes a Cloud app server
      description: 'Deletes the specified cloud app server


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: deletecloudAppServerUsingDELETE
      parameters:
      - name: appServerId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the cloud app server. This is obtained through the GET /v1.0/cloudAppPools/{cloudAppPoolId}/appServers command and others.'
        required: true
        schema:
          type: string
      - name: cloudAppPoolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the cloud app pool. This is obtained through the GET /v1.0/cloudAppPools command and others.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content (success)
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/cloudAppPools/{poolId}:
    post:
      tags:
      - APIs
      summary: Updates an application server pool
      description: 'Updates an application server pool.


        Supported Clouds: GCP'
      operationId: updateCloudAppPoolUsingPOST
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string of the application server. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updates the parameters of an application server pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateCloudAppPoolResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudAppPool'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Application server details to updated.'
        required: true
  /v1.0/clouds:
    get:
      tags:
      - APIs
      summary: Returns information about public clouds
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: publicCloudsUsingGET
      responses:
        '200':
          description: Returns Cloud subscription details. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConfigSubscriptions'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/rdgateways/images:
    get:
      tags:
      - APIs
      summary: Returns information Market place images required to create gateway cluster…
      description: 'Returns information about marketplace images. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: getGatewayImagesUsingGET
      parameters:
      - name: subscriptionName
        in: query
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: Returns details about market place images). This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudImages'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/rdgateways/vmClasses:
    get:
      tags:
      - APIs
      summary: Returns information about VM Classes required to create gateway cluster…
      description: 'Returns information of VM Classes. This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: getGatewayVmClassesUsingGET
      parameters:
      - name: subscriptionName
        in: query
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: Returns information of VM Classes. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmClasses'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/customImages:
    get:
      tags:
      - APIs
      summary: Returns information about Custom Images
      description: 'Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: customImagesUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns Custom Image details. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImageResponse'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Adds a new Custom Image
      description: 'Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: createCustomImagesUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Custom Image added successfully. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStatusResponse'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomImageRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Custom Image information.'
        required: true
  /v1.0/clouds/{subscriptionName}/networks:
    get:
      tags:
      - APIs
      summary: Returns information about Cloud networks
      description: 'Returns information of cloud networks. This is a synchronous command.


        Supported Clouds: GCP'
      operationId: getCloudNetworksUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns information about Cloud Networks. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCloudNetworksListResponse'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/regions:
    get:
      tags:
      - APIs
      summary: Returns list of regions
      description: 'Returns information about regions. Only applicable for AWS subscriptions. This is a synchronous command.


        Supported Clouds: Amazon WorkSpaces Core'
      operationId: getRegionsUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: The subscription name from the GET /v1.0/clouds command
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns list  of regions. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regions'
        '400':
          description: Error message with details. Returns Bad request for GCP and Azure clouds
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/regions/{region}/networks:
    get:
      tags:
      - APIs
      summary: Returns information about Cloud networks in a region
      description: 'Returns information of cloud networks in a given region. Only applicable for AWS subscriptions. This is a synchronous command.


        Supported Clouds: Amazon WorkSpaces Core'
      operationId: getCloudNetworksByRegionUsingGET
      parameters:
      - name: region
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The region name from the GET /v1.0/clouds/{subscriptionName}/regions command'
        required: true
        schema:
          type: string
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns information of Cloud networks in a region. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCloudNetworksListResponse'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/regions/{region}/securityGroups:
    get:
      tags:
      - APIs
      summary: Returns information AWS security groups
      description: 'Returns information AWS security groups. This is a synchronous command.


        Supported Clouds: Amazon WorkSpaces Core'
      operationId: getSecurityGroupsUsingGET
      parameters:
      - name: region
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The region name from the GET /v1.0/clouds/{subscriptionName}/regions command'
        required: true
        schema:
          type: string
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns information of Security Groups. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroups'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/regions/{region}/zones:
    get:
      tags:
      - APIs
      summary: Returns list of Zones for provided region
      description: 'Returns information about zones for region. Note: This API is applicable for GCP clouds only. This is a synchronous command.


        Supported Clouds: GCP'
      operationId: getZonesUsingGET
      parameters:
      - name: region
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">GCP Region Name'
        required: true
        schema:
          type: string
      - name: subscriptionName
        in: path
        description: The subscription name from the GET /v1.0/clouds command
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns list of zones. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zones'
        '400':
          description: Error message with details. Returns Bad request for AWS and Azure clouds
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates:
    get:
      tags:
      - APIs
      summary: Returns information about templates
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: getTemplatesUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns list of templates in the given subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIGetTemplatesResponseBO'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates/build:
    post:
      tags:
      - APIs
      summary: Builds a new template Image
      description: 'Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: buildTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Build template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiBuildTemplateRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Template information'
        required: true
  /v1.0/clouds/{subscriptionName}/templates/register:
    post:
      tags:
      - APIs
      summary: Registers a new template Image
      description: 'Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: registerTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Register template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterTemplateRequestBO'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Template information'
        required: true
  /v1.0/clouds/{subscriptionName}/templates/vmClasses:
    get:
      tags:
      - APIs
      summary: Returns information about VM Classes required to create Templates
      description: 'Returns information of VM Classes. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: getTemplateVmClassesUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns information of Template VM Classes. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateVmClasses'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates/{templateName}:
    get:
      tags:
      - APIs
      summary: Returns information about templates
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: getTemplateUsingGET
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Name of the template'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns template information in a cloud subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIGetTemplatesResponseBO'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    delete:
      tags:
      - APIs
      summary: Deletes template from cloud subscription
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: deleteTemplateUsingDELETE
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Name of the template'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns status of the request (Succeeded, or Failed). If failed, provides error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStatusResponse'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates/{templateName}/clone:
    post:
      tags:
      - APIs
      summary: Clones a new template from an existing template
      description: 'Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: cloneTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The Template name'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Clone a template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCloneTemplateRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Template information'
        required: true
  /v1.0/clouds/{subscriptionName}/templates/{templateName}/draft:
    post:
      tags:
      - APIs
      summary: Draft the template
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: draftTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The Template name'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Draft the template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates/{templateName}/preview:
    post:
      tags:
      - APIs
      summary: Preview the template
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: previewTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The Template name'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Preview the template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/clouds/{subscriptionName}/templates/{templateName}/publish:
    post:
      tags:
      - APIs
      summary: Publish the template
      description: 'Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: publishTemplateUsingPOST
      parameters:
      - name: subscriptionName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The subscription name from the GET /v1.0/clouds command'
        required: true
        schema:
          type: string
      - name: templateName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The Template name'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Publish the template. This is a asynchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/desktops/{desktopId}/cancelUpgradeDesktop:
    post:
      tags:
      - APIs
      summary: Cancels a upgrade desktop operation
      description: 'Cancels a upgrade desktop operation and reboots the source desktop in its source pool. Use this command after a upgrade desktop operation fails. Otherwise, the desktop will remain unavailable. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: cancelUpgradeDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The desktopId'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/desktops/{desktopId}/retainDesktop:
    post:
      tags:
      - APIs
      summary: Sets the retention period for a desktop on suspension
      description: The desktop will be deleted once the retention period is complete. For already suspended desktops the start of retention period will begin from the API call time. For assigned desktops the retention period will start from the suspension time. Retention period should be a non-negative integer (like 0,1,2,3,.. ). This is a synchronised command.
      operationId: retainDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The unique ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success. Returns updated desktop details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMRetentionDetails'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VMRetentionPeriod'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Number of days (positive integer) after which the desktop is deleted. For “0” desktop will be retained for indefinite period. '
        required: true
  /v1.0/desktops/{desktopId}/upgradeDesktop:
    post:
      tags:
      - APIs
      summary: Upgrades a persistent desktop to the specified pool
      description: 'Upgrades a persistent desktop from its current pool to the destination pool. Ownership of the desktop is preserved and the owner will launch it from its new region/pool as usual from the client interface. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: upgradeDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The desktopId to upgrade'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeDesktopRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The targetPool along with domain join details(if you do not want retain the source name). If AAD only account just provide targetPool and retainName or computerName.'
        required: true
  /v1.0/globalDesktops:
    get:
      tags:
      - APIs
      summary: Returns information on available Global Desktop Applications
      description: 'Returns details about all the global desktop applications for a company. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: globalDesktopsUsingGET
      responses:
        '200':
          description: Details about the global desktop applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalDesktopListBO'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/globalDesktops/{globalDesktopId}:
    get:
      tags:
      - APIs
      summary: Return details of Global Desktop
      description: 'Returns information on available Global Desktops including pool, order of precedence and assigned group ID. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: globalDesktopUsingGET
      parameters:
      - name: globalDesktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Id of the global desktop'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail of group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalDesktopBO'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/globalDesktops/{globalDesktopId}/pools:
    post:
      tags:
      - APIs
      summary: Assign pools to global desktop application
      description: 'Assign the pools with order of precedence to global desktop application. This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: setGlobalDesktopGroupPoolsUsingPOST
      parameters:
      - name: globalDesktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Global Desktop Application Id to assign pools'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VDIPoolDetails'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Pool IDs and precedence to be assigned. Order of precedence is a positive integer, with 1 being the highest precedence. Precedence must be given with no gaps (1, 2, 3; not 1, 4, 9).'
        required: true
  /v1.0/groups:
    get:
      tags:
      - APIs
      summary: Returns a list of all groups
      description: Returns a list of all group names and ids. This is a synchronous command.
      operationId: groupsUsingGET
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsList'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/groups/{groupId}/bundle:
    post:
      tags:
      - APIs
      summary: Assigns an application bundle to a user group
      description: Assigns the specified application bundle to a user group.
      operationId: assignBundleUsingPOST
      parameters:
      - name: groupId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Group Id '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success. Bundle assigned to group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreateBundleResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignBundle'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Bundle information.'
        required: true
  /v1.0/groups/{groupId}/globalDesktops:
    get:
      tags:
      - APIs
      summary: Returns information on global desktops assigned to a group
      description: 'Returns information on global desktops assigned to a group. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: groupGlobalDesktopDetailsUsingGET
      parameters:
      - name: groupId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Id of the group'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail of group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalDesktopsList'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Assign a global desktop application to a group
      description: 'Assigns a global desktop application to a group. This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: setGlobalDesktopToGroupUsingPOST
      parameters:
      - name: groupId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Group Id to which global desktop application is to be assigned'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalDesktopId'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Global Desktop Application Id to be assigned to group'
        required: true
  /v1.0/groups/{groupId}/globalDesktops/{globalDesktopId}:
    delete:
      tags:
      - APIs
      summary: Unassign a global desktop application from a group
      description: 'Revokes group’s assignment to a global desktop application. This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: unassignGlobalDesktopToGroupUsingDELETE
      parameters:
      - name: globalDesktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Global Desktop Application Id to be revoked from group'
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Group Id to which global desktop application is to be revoked from'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/licenses:
    get:
      tags:
      - APIs
      summary: Returns a list of Workspot licenses for each VM type purchased
      description: For each license type, return information including the total number of licenses purchased and the number of licenses available (unassigned). In addition to desktop licenses, associated licenses such as backup licenses and disaster recovery licenses are listed. This is a synchronous command.
      operationId: getLicensesUsingGET
      responses:
        '200':
          description: Information about all active licenses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/operation/{operationId}:
    get:
      tags:
      - APIs
      summary: Returns status of an asynchronous operation
      description: Asynchronous operations return a StatusURL that is an instance of this command with the correct operationID. This command returns the asynchronous operation’s status (plus additional information). This is a synchronous command.
      operationId: statusCheckUsingGET
      parameters:
      - name: operationId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">operationId'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns status of the operation (inProgress, Succeeded, or Failed). Provides success details or error info once finished (Succeeded or Failed).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/policies:
    get:
      tags:
      - APIs
      summary: Get List of Policies
      description: Get list of policies based on the type. This is a synchronous command.
      operationId: getPoliciesUsingGET
      parameters:
      - name: type
        in: query
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Policy Type. Allowed types are ''MediaRedirection'', ''Gateway'', ''Protocol'', ''TimeLimits'', ''Maintenance'', ''Warmup'''
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of policies of the provided type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools:
    get:
      tags:
      - APIs
      summary: Returns a list of all desktop pools
      description: 'Returns a list of all desktop pools, along with information about each pool, including its name, its pool id, and other information. The pool id is used by many other commands to specify which pool to use. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: poolsUsingGET
      responses:
        '200':
          description: List of pools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates Desktop Pool
      description: 'Creates desktop pool by taking reference from another desktop pool. This is a synchronous command.


        Supported Clouds: GCP'
      operationId: createDesktopPoolUsingPOST
      responses:
        '200':
          description: Returns status of Desktop Pool creation.If status is success, then use /pool/{poolId}/status API to check pool and desktop status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDesktopPoolResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDesktopPoolRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">This is desktop pool create request.'
        required: true
  /v1.0/pools/loginOptions:
    get:
      tags:
      - APIs
      summary: Get login options for desktop pool
      description: Get list of possible login options for pool. This is a synchronous command.
      operationId: getLoginOptionsUsingGET
      responses:
        '200':
          description: Returns list of possible pool login options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLoginOptionsResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}:
    get:
      tags:
      - APIs
      summary: Returns the details for a single pool
      description: 'Using the poolId, return the details about the specified pool. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: poolInfoUsingGET
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        x-example: f81eed06-c7a0-46b1-a3bf-50cc8880310b
        schema:
          type: string
      responses:
        '200':
          description: Details about the pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesktopPoolDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/agentToken:
    get:
      tags:
      - APIs
      summary: Returns Agent token for the pool
      description: Returns a valid, unexpired Agent Token for the specified pool, which can be used to register desktop in the pool. This is a synchronous command.
      operationId: poolAgentTokenUsingGET
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent Token Details for the specified pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolAgentTokenDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/customdesktop:
    post:
      tags:
      - APIs
      summary: Creates a desktop in custom cloud pool
      description: Adds an existing VM to a Custom Cloud Pool. This is a synchronous command.
      operationId: createCustomDesktopUsingPOST
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success. Desktop added successfully to the pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCustomDesktopCreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDesktop'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Except for the Computer Name, these are existing parameters of the desktop VM. Computer Name is a unique string used by Control to display information about this VM. It should be no more than fifteen characters long and consist of only alphanumeric and dash characters. You must specify at least a Computer Name and either a BIOS GUID or both a MAC Address and an FQDN.'
        required: true
  /v1.0/pools/{poolId}/desktops:
    get:
      tags:
      - APIs
      summary: Returns a list of desktops in a pool
      description: 'Returns information about every desktop in the specified pool, including their desktop ids, which are used for commands that operate on a specified desktop. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: getpoolDesktopsUsingGET
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of desktops in pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesktopList'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates a desktop
      description: 'Creates a desktop in the specified pool. Optionally, the computerName can be specified. Otherwise it is assigned based on the pool''s Desktop Name and an unused number (for example, mypool-004). The computerName must consist only of alphanumeric characters and hyphens, and cannot start with a numeral or hyphen. Optionally, the snapshot from which the disk of the desktop is created can be specified. Otherwise, it is created with empty disk. The snapshotId should be the unique identifier of the snapshot on cloud.This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: createDesktopUsingPOST
      parameters:
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDesktop'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Optional parameters. The currently defined parameters are computerName and snapshotId along with domain join details (if desktop is being created with specified snapshot).'
  /v1.0/pools/{poolId}/desktops/{desktopId}:
    get:
      tags:
      - APIs
      summary: Returns details for a single desktop
      description: 'Returns the details for a single, specified desktop in a specified pool. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: desktopDetailsUsingGET
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Details for the specified desktop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desktop'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    delete:
      tags:
      - APIs
      summary: Deletes a desktop
      description: 'Deletes the specified desktop. If the pool uses the "Auto Create on Delete Desktop" option, the desktop will be recreated from the pool template. Otherwise, is will be be deleted and the size of the pool will be reduced by one. This is a synchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: deleteDesktopUsingDELETE
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content (success)
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/attachSnapshot:
    post:
      tags:
      - APIs
      summary: Attaches a snapshot to a desktop
      description: 'Attaches the specified snapshot to the desktop. This is an asynchronous command.


        Supported Clouds: Amazon WorkSpaces Core'
      operationId: attachSnapshotUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachSnapshot'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The snapshot detail along with domain join details. If AAD only account just provide the snapshot to be restored on the desktop.'
        required: true
  /v1.0/pools/{poolId}/desktops/{desktopId}/cancelMoveDesktop:
    post:
      tags:
      - APIs
      summary: Cancels a move desktop operation
      description: 'Cancels a move desktop operation and reboots the source desktop in its original pool. Use this command after a move desktop operation fails. Otherwise, the desktop will remain unavailable. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: cancelMoveDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The source desktopId'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The source poolId'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/moveDesktop:
    post:
      tags:
      - APIs
      summary: Moves a persistent desktop to the specified pool
      description: 'Moves a persistent desktop from its current pool to the destination pool. Ownership of the desktop is preserved and the owner will launch it in its new location as if nothing has happened. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: moveDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The desktopId to move'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The source poolId'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveDesktopRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The user''s email address and targetPool Id to which desktop need to be moved.'
        required: true
  /v1.0/pools/{poolId}/desktops/{desktopId}/pause:
    post:
      tags:
      - APIs
      summary: Pauses a desktop
      description: 'Pauses a desktop. Valid for persistent desktops only. This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: pauseDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/reboot:
    post:
      tags:
      - APIs
      summary: Reboots a desktop
      description: 'Reboots a desktop. Valid for persistent desktops only. This is an asynchronous command.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core, Akamai'
      operationId: rebootDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/redeploy:
    post:
      tags:
      - APIs
      summary: Redeploys a desktop
      description: 'Replace a desktop with a fresh one built from the current pool template. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: redeployDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/resume:
    post:
      tags:
      - APIs
      summary: Resumes a desktop
      description: 'Resumes a desktop. Valid for persistent desktops only. This is an asynchronous command. If duration is included, pausing the desktop is not allowed for specified duration. Otherwise, it is a simple resume request to get the desktops running.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: resumeDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HydrateDuration'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">Optional parameter (in minutes). Desktop pausing not allowed till this duration.'
  /v1.0/pools/{poolId}/desktops/{desktopId}/screenshotDesktop:
    post:
      tags:
      - APIs
      summary: Takes a screen shot of the desktop
      description: 'Capture the display on the desktop to debug boot and login issues. If a user is logged on, this feature is unavailable. A link to the screen shot image is returned in the body of the operation command (statusURL) after the screenShotDesktop command succeeds. The image expires after 15 minutes. This is an asynchronous command.


        Supported Clouds: Azure'
      operationId: screenshotDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/pools/{poolId}/desktops/{desktopId}/tags:
    post:
      tags:
      - APIs
      summary: Sets tags for a desktop
      description: 'Set customer-defined name/value pairs (tags) for a desktop. Once set, tags returned by the desktop details command (GET /v1.0/pools/{poolId}/desktops/{desktopId}). Tags are valid only for persistent desktops. This is a synchronous command. See Using Desktop Tags in the Workspot Control API for more information.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: tagDesktopUsingPOST
      parameters:
      - name: desktopId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the desktop. This is obtained through the GET /v1.0/pools/{poolId}/desktops command and others.'
        required: true
        schema:
          type: string
      - name: poolId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The ID string for the pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tags have been set successfully
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagDesktopRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">A series of name/value pairs (tags)'
  /v1.0/pools/{poolName}:
    post:
      tags:
      - APIs
      summary: Updates a desktop pool
      description: 'Updated desktop pool. This is a synchronous command.


        Supported Clouds: GCP'
      operationId: updateDesktopPoolUsingPOST
      parameters:
      - name: poolName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The name of the desktop pool. This is obtained through the GET /v1.0/pools command and others.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updates the desktop pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDesktopPoolResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDesktopPoolRequest'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">This is desktop pool update request.'
        required: true
  /v1.0/rdgateways/authenticationOptions:
    get:
      tags:
      - APIs
      summary: Returns information about authentication options required to create gateway…
      description: Returns information about authentication options. This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information
      operationId: getAuthenticationOptionsUsingGET
      responses:
        '200':
          description: Returns details authentication options used to create  cluster (managed RD Gateway). This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationOptions'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/rdgateways/clusters:
    get:
      tags:
      - APIs
      summary: Returns information about each gateway cluster (managed gateways)
      description: 'Returns information about each gateway cluster (managed RD Gateways). Not applicable to legacy RD Gateways. This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: gwClustersUsingGET
      responses:
        '200':
          description: Returns details about each gateway cluster (managed RD Gateway), including status information and a list of pools and apps using each cluster. Not applicable to legacy RD Gateways. This is a synchronous command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clusters'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
    post:
      tags:
      - APIs
      summary: Creates Gateway Cluster
      description: 'Creates public cloud gateway cluster. This is an asynchronous command.npsServers field is required only if AuthOption field is NPS and gatewayPolicyName is mandatory if authOption is other than NPS.Note that gatewayPolicyName and npsServers are mutually exclusive and cannot be sent together in payload


        Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: createGWClusterUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '202':
          description: Request accepted. Returns a statusURL for polling, which is an instance of the GET /v1.0/operation/{operationId} command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GWCreateCluster'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">This is Create Gateway cluster request requires,Cluster Name which is unique, region and network.'
        required: true
  /v1.0/rdgateways/clusters/{clusterId}/regions/{clusterRegionId}/rdgateways:
    get:
      tags:
      - APIs
      summary: Returns information about each gateway in a given cluster
      description: 'Returns details about each gateway VM in a specified cluster (managed RD Gateway), including the number of active connections, certificate information, and status.This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: gwClusterHostsUsingGET
      parameters:
      - name: clusterId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterId from the GET /v1.0/rdgateways/clusters/ command'
        required: true
        schema:
          type: string
      - name: clusterRegionId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterRegionId from the GET /v1.0/rdgateways/clusters/ command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of gateways in the cluster and information about each gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hosts'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/rdgateways/clusters/{clusterId}/regions/{clusterRegionId}/rdgateways/{gatewayId}/connections:
    get:
      tags:
      - APIs
      summary: Returns information about the Client connections for a gateway in the specified…
      description: 'Returns information about the Client connections for a gateway in the specified gateway cluster, including the number of active connections and average request auth seconds.This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: getGWHostConnectionsUsingGET
      parameters:
      - name: clusterId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterId from the GET /v1.0/rdgateways/clusters/ command'
        required: true
        schema:
          type: string
      - name: clusterRegionId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterRegionId from the GET /v1.0/rdgateways/clusters command'
        required: true
        schema:
          type: string
      - name: gatewayId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The gatewayId from the GET /v1.0/rdgateways/clusters/{clusterId}/regions/{clusterRegionId}/rdgateways command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gateway connections in a specified cluster (managed RD Gateway)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GWClusterHostConnectionDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/rdgateways/clusters/{clusterId}/regions/{clusterRegionId}/rdgateways/{gatewayId}/performance:
    get:
      tags:
      - APIs
      summary: Returns system performance statistics such as CPU and memory usage for a…
      description: 'Returns system performance statistics such as CPU and memory usage for a gateway in the specified cluster, including the cpu and memory data.This is a synchronous command. See Gateway Clusters (Managed Gateways) for more information


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: getGWHostPerformanceUsingGET
      parameters:
      - name: clusterId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterId from the GET /v1.0/rdgateways/clusters/ command'
        required: true
        schema:
          type: string
      - name: clusterRegionId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterRegionId from the GET /v1.0/rdgateways/clusters command'
        required: true
        schema:
          type: string
      - name: gatewayId
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The gatewayId from the GET /v1.0/rdgateways/clusters/{clusterId}/regions/{clusterRegionId}/rdgateways command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gateway performance data (cpu/memory) in a specified cluster (managed RD Gateway)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GWClusterHostPerformanceDetails'
        '400':
          description: Error message with details
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/rdgateways/clusters/{clusterName}:
    post:
      tags:
      - APIs
      summary: Updates GatewayCluster
      description: 'Gateway cluster updates currently support modifications to only the following fields: imageName, vmClassName, gatewayPolicyName, and npsServers. Note that gatewayPolicyName and npsServers are mutually exclusive and cannot be sent together in payload


        Supported Clouds: GCP, Amazon WorkSpaces Core'
      operationId: updateGatewayCusterUsingPOST
      parameters:
      - name: clusterName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterName from the GET /v1.0/rdgateways/clusters command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns status of the request (Succeeded, or Failed). If failed, provides error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GWUpdateClusterResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GWUpdateCluster'
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px"> modifications to only the following fields: imageName, vmClassName, gatewayPolicyName, and npsServers. Note that gatewayPolicyName and npsServers are mutually exclusive and cannot be sent together in payload'
        required: true
    delete:
      tags:
      - APIs
      summary: Deletes GatewayCluster
      description: 'Deletes Gateway cluster


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: deleteGatewayClusterUsingDELETE
      parameters:
      - name: clusterName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterName from the GET /v1.0/rdgateways/clusters command'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns status of the request (Succeeded, or Failed). If failed, provides error information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GWClusterActionResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1.0/rdgateways/clusters/{clusterName}/gateways:
    post:
      tags:
      - APIs
      summary: Creates Gateway Host in a cluster
      description: 'Adds public cloud gateway host in a cluster.


        Supported Clouds: Azure, GCP, Amazon WorkSpaces Core'
      operationId: addGwHostUsingPOST
      parameters:
      - name: clusterName
        in: path
        description: '<span style="font-family: Open Sans,sans-serif; font-size:13px">The clusterId from the GET /v1.0/rdgateways/clusters command'
        required: true
        schema:
          type: string
      responses:
        '200':
[...]
